Initiation à ```python```
============

Sommaire:
--------
Introduction au langage:
- Avantages de python
- Racourcis Jupyter
- Les types numériques
- Les chaînes de caractères
- Les bouléens et conditions
- Les boucles
- Les fonctions
- Les listes
- Les dictionaires

Avantages de ```python```
-------------------------
* Langage lisible et simple de prise en main
* Très utilisé (Youtube est développé en ```python```) avec une communauté active
* Open Source
* Multi OS
* Nombreux packages allant du machine learning au dévelopement web

Jupyter
--------

Jupyter est un service Web permettant de faire des notebooks. Ces notebooks facilitent le développement intéractif et sont de bons outils d'exploration données entre autres.

Quelques raccourcis utiles pour l'utilisation de jupyter

En mode navigation:
* ```Shift + Enter``` : Lancer une cellule 
* ```Enter``` : Passer en mode EDITION
* ```M``` : Passer la cellule en mode Markdown
* ```Y``` : Passer la cellule en mode code
* ```A``` : Insérer une cellule Au-dessus (Above)
* ```B``` : Insérer une cellule en Bas (Below)
* ```O``` : Permet de fermer la sortie d'une cellule, utile quand celui-ci prend trop de place par exemple

En mode édition: 
* ```Shift + Enter``` : Lancer une cellule 
* ```Esc``` : Retour au mode de navigation entre les cellules
* ```Shift``` : Autocomplétion
* ```Shift+Tab``` : Documentation/aide de la fonction ou méthode utilisée. Premier ```Tab``` résumé de la documentation, deuxième ```Tab``` documentation complète
* ```Alt+flèche``` : Aller au début ou en fin de ligne

*N'hésitez pas à modifier le code pour voir ce qu'il se passe*
------------------
Les types numériques
-------

In [2]:
# On va commencer par assigner une variable
a = 1

In [4]:
# Il suffit de la réindiquer pour voir sa valeur
print(a)

1

In [5]:
# Une variable peut être réassignée
a = 4
a

4

In [8]:
# De différentes manières
a = a + 1 + 1 + 1 + \
1 + 1
# Le \ permet de revenir à la ligne
a

19

In [9]:
a += 2 * 2 # * pour la multiplication
a

23

In [10]:
b = 5 ** 2 # ** pour la puissance
b

25

In [12]:
eval('a+b')

48

In [13]:
"a+b"

'a+b'

In [11]:
a+b

48

In [14]:
a = input("Donner moi un chiffre")

Donner moi un chiffre3

In [15]:
a, type(a)

('3', str)

In [16]:
# il est possible de faire de la multi assignation
a, b, c = 1, 5, 10

# print() permet d'imprimer dans la console
print(a,b,c)

1 5 10

In [17]:
a, b, c = 1, 5, 10
a = a+b
b = a+c
c = b+c
print(a,b,c)

6 16 26

In [18]:
a, b, c = a+b, a+c, b+c
print(a,b,c)

22 32 42

In [19]:
# En plus des integer (int) il y a les float disponibles dans python
pi = 3.14
pi

3.14

In [20]:
# On peut retrouver le type de variable grâce à type()
type(a)

int

In [21]:
type(pi)

float

In [22]:
type("chaine_caracteres")

str

Exo 1
------
Assigner la variable ```preums``` à 125 et ```deuz``` à 15 puis mettre la division dans une troisième variable du nom de votre choix. Imprimer cette variable.

Les chaînes de caractères
----

In [24]:
# Il y a aussi les string qui sont des chaînes de caractères
ma_chaine = 'Bonsoir tout le monde !'
print(f'Ma première chaîne est : {ma_chaine}')

Ma première chaîne est : Bonsoir tout le monde !

In [28]:
# Plusieurs possibilités pour les chaînes de caractères:
simple_cote = 'Les simples cotes marchent.'
simple_cote_bis = "les cotes simples 'marchent' aussi"
double_cote = "Les doubles aussi avec la possiblité de mettre les simples 'Comme ceci'."
triple_double_cote= """Les triples sont utiles pour le passage à la ligne
dans une même chaîne."""
echapement = 'L\'échapement permet d\'avoir des caractères spéciaux dans une chaîne de caractères.'
autre_echap = "C'est aussi bon comme ça"

# print(simple_cote)
# print(double_cote)
# print(triple_double_cote)
# print(echapement)
# print(autre_echap)
# print('Le type des chaînes de caractères est:',type(simple_cote))

In [32]:
# Les string sont des séquences de caractères
concatenation = 'On peut donc les' + ' concaténer'
#print(concatenation)
print(simple_cote + " " + double_cote)

Les simples cotes marchent. Les doubles aussi avec la possiblité de mettre les simples 'Comme ceci'.

In [33]:
multi = 'voire les ' + 'multiplier, ' * 3 + '...'

print(multi)

voire les multiplier, multiplier, multiplier, ...

In [34]:
# il est possible de faire du formatage de string en utilisant f" mon string avec {ma_variable}"
je_formate = f"La variable 'a' a pour valeur {a}"
tu_formates = f"On peut mettre des strings comme par exemple: {je_formate}"

print(je_formate)
print(tu_formates)

La variable 'a' a pour valeur 22
On peut mettre des strings comme par exemple: La variable 'a' a pour valeur 22

In [35]:
# Les string sont considérés comme des séquences de caractères. 
# On peut faire de l'extraction d'éléments en utilisant les crochets mon_string[mon_element]
# Les éléments commencent à l'indice 0 dans python.

mon_string = "bonjour, appuyer sans cesse sur shift+enter m'épuise"
mon_string[1]

'o'

In [36]:
# On peut récupérer des éléments en commencant par la fin en utilisant l'opérateur -
# Par exemple le dernier élément est à l'indice -1

mon_string[-1]

'e'

In [37]:
mon_string[-5]

'p'

In [38]:
# Il est possible de récupérer plusieurs élements d'une séquence en utilisant l'opérateur :
# Ce concept est appeler "slicing"

mon_string[2:5]

'njo'

In [39]:
mon_string[:10]

'bonjour, a'

In [40]:
# len(mon_string) va permettre de connaître la taille d'un string
# length
len(mon_string)

52

In [42]:
# On peut récupérer l'ensemble des éléments jusqu'à la fin en utilisant la longueur du string

mon_string[42:len(mon_string)]

"r m'épuis"

In [43]:
# En ne mettant pas d'indice avant ou après le : permet de récupérer l'ensemble des éléments avant ou après l'indice

mon_string[42:]

"r m'épuise"

In [44]:
mon_string[:7]

'bonjour'

In [45]:
# On peut utiliser les indices négatifs pour faire des combinaisons équivalentes

mon_string[:-45]

'bonjour'

In [46]:
# Dans les cas impossibles le string retourné est vide

mon_string[25:2]

''

In [47]:
# Il n'est pas possible de modifier un élément d'un string, ceux-ci sont immutables

mon_string[0] = 'B'

TypeError: 'str' object does not support item assignment

In [48]:
# Pour faire un équivalent il faut réassigner mon_string

mon_string = 'B' + mon_string[1:]
mon_string

"Bonjour, appuyer sans cesse sur shift+enter m'épuise"

Exo 2
---------
Créer un string de votre choix, remplacer les 8ième et 9ième éléments par "42" en utilisant le slicing avec l'opérateur ```":"``` et la concaténation. Imprimer ce string.

In [51]:
var_carac = "Les Hackeuses de Simplon font de l'IA"

var1 = var_carac[:7]
var2 = "42"
var3 = var_carac[9:]

var_concatene = var1 + var2+ var3

In [52]:
print(var_concatene)

Les Hac42uses de Simplon font de l'IA

Bouléens et conditions
---------------------

In [53]:
# pour finir les booléens
par_exemple = True
ou_pas = False
type(par_exemple), type(ou_pas)

(bool, bool)

In [54]:
# Il y a plusieurs opérateurs pour les conditions
a > 0

True

In [55]:
a

22

In [57]:
a >= 22

True

In [60]:
# Egalité
a == 15

False

In [61]:
# On peut enchaîner les conditions avec des opérateurs and et or respectivement
# print("a = " + str(a)) # pour concaténer un int avec un string il faut le cast en string en utilisant str()
print(a == 12 or a >= 0)
print(a == 12 and a >= 0)

True
False

In [62]:
# Les opérateurs & et | nécéssitent des parenthèses pour la séparation des conditions
print((a == 12) | (a >= 0))
print((a == 12) & (a >= 0))

True
False

In [63]:
# opérateur "in" qui permet de voir si un élément est présent dans une séquence, ici un string
print('b' in 'bonjour je suis là')
print(3 in [1,4,5])

True
False

Les conditions
--------

Synthaxe:

```python
if condition:
    code_a_executer()
elif autre_condition:
    un_autre_code_a_executer()
else:
    pour_le_reste()
```

Attention à l'indentation!

In [72]:
a = 14 * 16
b = 15 * 14

if a > b:
    print(f"a qui vaut {a} est bien supérieur à b qui vaut {b}")
else:
    print("ou pas")

a qui vaut 224 est bien supérieur à b qui vaut 210

In [80]:
# Une mauvaise indentation ne donnera pas le résultat attendu voire des erreurs
if a > b:
    print(f"a qui vaut {a} est bien supérieur à b qui vaut {b}")
else:
    pass
print("ou pas")

a qui vaut 224 est bien supérieur à b qui vaut 210
ou pas

In [76]:
# Il est possible de mettre une opération if en une seule ligne mais pour plus de lisibilité on préférera utiliser l'indentation
ce_nest_pas_super_lisible = 42
if ce_nest_pas_super_lisible<50: 
    ce_nest_pas_super_lisible = ce_nest_pas_super_lisible * 1000 
    print(ce_nest_pas_super_lisible)

42000

In [84]:
# les elif permettent d'avoir plusieurs conditions qui se suivent
variable = 110
phrase = "La promo IA c'est cool"

if variable > 100:
    variable -= 50
    print(f"Voici ma variable -50: {variable}")
elif variable == 50:
    variable = 42
    print(f"Je préfère le nombre {variable}")
else:
    print(phrase)

La promo IA c'est cool

Exo 3
----------

Vérifier que la longueur de ```mon_string``` est bien supérieure à 42, sinon réassigner la variable ```mon_string``` à "Tant pis" et imprimer ```mon_string```. Tester avec plusieurs valeurs pour ```mon_string```

In [85]:
print(mon_string)

Bonjour, appuyer sans cesse sur shift+enter m'épuise

In [87]:
mon_string = "Les hackeuses"

In [88]:
if len(mon_string) <= 42:
    mon_string = "Tant pis"
print(mon_string)

Tant pis

Les boucles
----------
Il existe deux types de boucle sous python.

Boucle ```while```:

```python
while condition:
    ici_le_code_a_executer()
```
Les boucles ```while``` vont exécuter le code indenté tant que la condition reste vraie. Attention: les boucles infinies sont courantes avec ces boucles

Boucle ```for```:

```python
for mon_element in une_sequence:
    ici_mon_code(mon_element)
```

Les boucles ```for``` itèrent sur chaque élément d'une séquence. Cet élément est ensuite à disposition dans le code indenté.

Il est possible d'interrompre l'exécution d'une cellule en utilisant le bouton avec l'icône stop dans la barre en haut de l'écran

In [89]:
import time

In [94]:
# Il va falloir interompre cette boucle au plus vite. Il faut cliquer sur le carré stop/"interrupt kernel" dans la barre "outils"
subliminal = ""
while len(subliminal) < 42:
    time.sleep(0.5)
    subliminal += "Hackeuses24"
    print(subliminal)

Hackeuses24
Hackeuses24Hackeuses24
Hackeuses24Hackeuses24Hackeuses24
Hackeuses24Hackeuses24Hackeuses24Hackeuses24

In [97]:
mon_string = "ah làlà ces chaîne sde caractère trop courtes"

In [98]:
# Voici un exemple de boucle while.
indice = 0
while indice < 12:
    time.sleep(0.5)
    print(mon_string[indice])
    indice += 1

a
h

l
à
l
à

c
e
s

In [100]:
# Voici l'équivalent en boucle for
# Pour rappel les strings se comportent comme des séquences de caractères
for i in mon_string[:12]: 
    time.sleep(0.5)
    print(i)
    
# Pour mieux comprendre ce qu'il se passe vous pouvez imprimer mon_string[:12]

a
h

l
à
l
à

c
e
s

In [102]:
for i in range(12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [103]:
for i in range(12):
    time.sleep(0.5)
    print(mon_string[i])

a
h

l
à
l
à

c
e
s

In [104]:
# exemple de comptage d'élement dans un string
ceci_est_un_test = "Ceci est un test"
resultat = 0
for el in ceci_est_un_test:
    resultat += 1
    
print(resultat)
print(len(ceci_est_un_test))

16
16

In [106]:
# il est possible de combiner les boucles et conditions
nombre_do = 0
for element in mon_string:
    if element == 'e':
        nombre_do += 1

print(f"dans mon_string il y a {nombre_do} e")
print(mon_string)

dans mon_string il y a 5 e
ah làlà ces chaîne sde caractère trop courtes

In [107]:
mon_string = "Une chaîne de caractères, avec une virgule"

In [108]:
# il est possible d'utiliser les mots clés break et continue pour interrompre des boucles. 
# Leur utilisation porte à confusion et peut compliquer le code inutilement dans un premier temps
# évitez de les utiliser.

for element in mon_string:
    print(element)
    if element == ',':
        break

U
n
e

c
h
a
î
n
e

d
e

c
a
r
a
c
t
è
r
e
s
,

Exo 4
-------
Compter le nombre de voyelles dans ```mon_string```. 

Indice: Plus haut on avait vu une condition qui permettait de voir si une lettre était présente dans un string.

In [109]:
mon_string

'Une chaîne de caractères, avec une virgule'

In [114]:
mon_string.lower()

'une chaîne de caractères, avec une virgule'

In [115]:
result = 0
for i in mon_string:
    if i.lower() in "aeiouy":
        result += 1
    print(result)

1
1
2
2
2
2
3
3
3
4
4
4
5
5
5
6
6
7
7
7
7
7
8
8
8
8
9
9
10
10
10
11
11
12
12
12
13
13
13
14
14
15

In [116]:
print(result)

15

Les fonctions
----------------

Dans ```python``` il est possible de mettre en place des fonctions pour automatiser certaines tâches par exemple. on utilise pour cela le mot clef ```def```

```python
def ma_fonction(parametre_1, parametre_2):
    je_fais_ce_que_je_veux(en utilisant parametre_1 et parametre_2)
    return ici_ce_que_je_veux_retourner
```

Les fonctions peuvent prendre des paramètres. Ceux-ci peuvent avoir des valeurs par défaut. Elles peuvent aussi renvoyer des résultats via ```return```.

In [ ]:
# un cas simple
def imprimer_42():
    print(42)
    
def imprimer_42_bis():
    return 42

In [ ]:
# On peut appeler ensuite notre nouvelle méthode comme ci-suit
a = imprimer_42() #print(42)
print(type(a))

b = imprimer_42_bis()
print(type(b))

In [ ]:
# Il est possible d'avoir des paramètres dans une fonction
def imprimer_42_avec_parametre(param):
    print(f"Je n'aime pas trop {param}, je préfère 42")

In [ ]:
imprimer_42_avec_parametre(14)

In [ ]:
# Une fonction peut retourner une variable
def compter_les_voyelles(un_string):
    nombre_voyelles = 0
    for lettre in un_string:
        if lettre in 'aeiouy':
            nombre_voyelles += 1
    return nombre_voyelles

In [ ]:
a=compter_les_voyelles("Bonjour")
a, type(a)

In [ ]:
# Le résultat de tout à l'heure
mon_string = "bonjour, appuyer sans cesse sur shift+enter m'épuise"
compter_les_voyelles(mon_string)

In [ ]:
# Il est possible de donner des valeurs par défaut à certains paramètres
def multiplier_par_42_ou_pas(premier_int, deuxieme_int=42):
    return premier_int*deuxieme_int

In [ ]:
multiplier_par_42_ou_pas(42)

In [ ]:
# Il est possible de modifier les deux paramètres en indiquant le bon nombre de paramètres

print(multiplier_par_42_ou_pas(3,"test"))
print(multiplier_par_42_ou_pas(3,4))

In [ ]:
# Il est possible d'expliciter les paramètres avec un =

multiplier_par_42_ou_pas(deuxieme_int=3, premier_int=4)
multiplier_par_42_ou_pas(3, 4)
multiplier_par_42_ou_pas(3, deuxieme_int=4)
multiplier_par_42_ou_pas(3, premier_int=4)
#multiplier_par_42_ou_pas(deuxieme_int=3, 4)

Les imports
-----------

Un package que l'on peut traduire par module est une bibliothèque de méthodes ou de classes que l'on peut récupérer dans son code pour l'utiliser. Il existe énormément de packages en python permettant de faire du scraping ou de l'interrogation de base de données voire de la construction de site web. Plus tard dans le notebook, certains packages vont être présentés.

Il est possible d'importer un package comme ceci:
```python
import mon_package
```

Plusieurs façons d'importer des packages sont possibles.

In [117]:
# on va commencer par importer le package "math" qui a un ensemble de fonctions comme par exemple sqrt
import math

In [118]:
# On doit indiquer le module avant la fonction
math.sqrt(49)

7.0

In [119]:
# Il est possible de renommer un package pour en faciliter l'utilisation
import math as mt

In [121]:
mt.sqrt(49)

7.0

In [122]:
# On peut aussi importer uniquemet certaines fonctions ou ensemble de fonctions qui nous intéressent
# et les utiliser directement ensuite
from math import sqrt
sqrt(49)

7.0

In [123]:
from math import *
sqrt(49)

7.0

In [124]:
# Il est possible de récupérer une aide sur une méthode via help(...) ou ... ?
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

En usage avancé de python il est possible de construire ses propres modules.

Les listes
--------------

Les listes sont des objets qui peuvent contenir d'autres objets dans un ordre précis. Comme les string ce sont des séquences mais au lieu de caractères ce sont des objets. On peut ainsi y mettre une succession de chiffres, des strings, d'autres listes, ou tout à la fois. Les listes sont définies par des crochets ```[]``` dans python. Comme les string on peut récupérer leurs éléments par indice voire par "slicing".

In [125]:
# On peut initier une liste vide comme ceci
ma_premiere_liste = [] #ou list()
ma_premiere_liste

[]

In [126]:
l1 = ['abcdefghi']
l2 = list('abcdefghi')
l1, l2

(['abcdefghi'], ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])

In [127]:
# les listes sont du type list
type(ma_premiere_liste)

list

In [128]:
# On peut définir directement une liste avec l'ensemble de ses éléments
ma_deuxieme_liste = [0,1,2,3,4,5,6,7]
ma_deuxieme_liste

[0, 1, 2, 3, 4, 5, 6, 7]

In [129]:
# les objets à l'intérieur d'une liste n'ont pas besoin d'être du même type
ma_troisieme_liste = ["DREES", 178, "10-18 place des 5 martyrs du lycée buffon", 4.7]
ma_troisieme_liste

['DREES', 178, '10-18 place des 5 martyrs du lycée buffon', 4.7]

In [130]:
# Comme dans les string ont peut récupérer les éléments de la liste via leur indice ou par slicing
ma_deuxieme_liste[2]

2

In [131]:
ma_deuxieme_liste[2:-2]

[2, 3, 4, 5]

In [132]:
ma_deuxieme_liste[0]

0

In [133]:
# Contrairement aux strings les listes sont mutables, on peut modifier les éléments de la liste, en ajouter, en supprimer
ma_deuxieme_liste[0] = 42
ma_deuxieme_liste

[42, 1, 2, 3, 4, 5, 6, 7]

In [134]:
# la méthode .append(élément) permet d'ajouter des élements en fin de liste
ma_deuxieme_liste.append(42)
# A noter que contrairement au string on a pas besoin de réassigner la variable ma_deuxieme_liste à ma_deuxieme_liste.append(42)
# ma_deuxieme_liste est modifiée directement

In [135]:
ma_deuxieme_liste

[42, 1, 2, 3, 4, 5, 6, 7, 42]

In [136]:
# .insert(indice, élément) permet d'ajouter un élément à l'indice désiré
ma_deuxieme_liste.insert(5, 'jpp')
ma_deuxieme_liste

[42, 1, 2, 3, 4, 'jpp', 5, 6, 7, 42]

In [137]:
# on peut supprimer des éléments soit par indice avec del
del ma_deuxieme_liste[0] # suppresion du premier élément
ma_deuxieme_liste

[1, 2, 3, 4, 'jpp', 5, 6, 7, 42]

In [138]:
# ou la méthode .pop(indice)
ma_deuxieme_liste.pop(0)
ma_deuxieme_liste

[2, 3, 4, 'jpp', 5, 6, 7, 42]

In [139]:
ma_deuxieme_liste.pop()
ma_deuxieme_liste

[2, 3, 4, 'jpp', 5, 6, 7]

In [140]:
a = ma_deuxieme_liste.pop()
ma_deuxieme_liste, a

([2, 3, 4, 'jpp', 5, 6], 7)

In [141]:
# soit par valeur avec .remove(élément)
ma_deuxieme_liste.remove('jpp')
ma_deuxieme_liste

[2, 3, 4, 5, 6]

In [152]:
test_list = [1, 4, 1, 1]
test_list.pop()

1

In [153]:
test_list

[1, 4, 1]

In [151]:
print(element_removed)

1

In [154]:
# Attention .remove ne supprime que le premier élément de la liste avec la valeur que l'on veut remove
des_uns = [1,2,1,1,1]
des_uns.remove(1)
des_uns

[2, 1, 1, 1]

In [155]:
# Comme les string on peut concaténer ou multiplier des listes
ma_deuxieme_liste + ma_troisieme_liste

[2, 3, 4, 5, 6, 'DREES', 178, '10-18 place des 5 martyrs du lycée buffon', 4.7]

In [156]:
ma_deuxieme_liste * 2

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

In [157]:
# .extend(list) permet d'ajouter plusieurs éléments d'un coup
ma_deuxieme_liste.extend([12,14,20])
ma_deuxieme_liste

[2, 3, 4, 5, 6, 12, 14, 20]

In [158]:
ma_deuxieme_liste.extend('azerty')
ma_deuxieme_liste

[2, 3, 4, 5, 6, 12, 14, 20, 'a', 'z', 'e', 'r', 't', 'y']

In [160]:
ma_deuxieme_liste.extend(['azerty'])
ma_deuxieme_liste

[2, 3, 4, 5, 6, 12, 14, 20, 'a', 'z', 'e', 'r', 't', 'y', 'azerty', 'azerty']

In [161]:
# On peut parcourir les éléments d'une liste par une boucle for comme on l'a vu dans le cas des strings
for element in ma_deuxieme_liste:
    print(element)

2
3
4
5
6
12
14
20
a
z
e
r
t
y
azerty
azerty

In [162]:
while len(ma_deuxieme_liste)>1:
    a = ma_deuxieme_liste.pop() # par défaut pop supprime le dernier élément
    print(ma_deuxieme_liste, a)

[2, 3, 4, 5, 6, 12, 14, 20, 'a', 'z', 'e', 'r', 't', 'y', 'azerty'] azerty
[2, 3, 4, 5, 6, 12, 14, 20, 'a', 'z', 'e', 'r', 't', 'y'] azerty
[2, 3, 4, 5, 6, 12, 14, 20, 'a', 'z', 'e', 'r', 't'] y
[2, 3, 4, 5, 6, 12, 14, 20, 'a', 'z', 'e', 'r'] t
[2, 3, 4, 5, 6, 12, 14, 20, 'a', 'z', 'e'] r
[2, 3, 4, 5, 6, 12, 14, 20, 'a', 'z'] e
[2, 3, 4, 5, 6, 12, 14, 20, 'a'] z
[2, 3, 4, 5, 6, 12, 14, 20] a
[2, 3, 4, 5, 6, 12, 14] 20
[2, 3, 4, 5, 6, 12] 14
[2, 3, 4, 5, 6] 12
[2, 3, 4, 5] 6
[2, 3, 4] 5
[2, 3] 4
[2] 3

In [164]:
# la méthode enumerate peut être utile pour récupérer à la fois un élément d'une liste mais aussi son indice
for double in enumerate(ma_troisieme_liste):
    print(double)

(0, 'DREES')
(1, 178)
(2, '10-18 place des 5 martyrs du lycée buffon')
(3, 4.7)

In [165]:
# on peut récupérer ces deux variables proprement comme ceci :
for i, j in enumerate(ma_troisieme_liste):
    print(f"Indice: {i}, élément: {j}")

Indice: 0, élément: DREES
Indice: 1, élément: 178
Indice: 2, élément: 10-18 place des 5 martyrs du lycée buffon
Indice: 3, élément: 4.7

In [166]:
# Il est possible de faire des modifications de liste ou filtrage de liste via 
# des compréhensions de listes. La synthaxe se fait entre []
# Ci-suit un exemple pour faire deux fois la même chose via une boucle ou une compréhension de liste
liste_origine = [1,2,3,4,5,6,7,8]
resultat = []
for element in liste_origine:
    resultat.append(element * element) # on crée une liste dont les élément sont le carré de liste_origine

In [167]:
resultat

[1, 4, 9, 16, 25, 36, 49, 64]

In [170]:
resultat_cl = [i * i for i in liste_origine]
resultat_cl

[1, 4, 9, 16, 25, 36, 49, 64]

In [171]:
resultat_cl_pairs= [element * element for element in liste_origine if element%2==0]

print(f"resultat: {resultat}")
print(f"resultat_cl: {resultat_cl}")
print(f"resultat_cl_pairs: {resultat_cl_pairs}")

resultat: [1, 4, 9, 16, 25, 36, 49, 64]
resultat_cl: [1, 4, 9, 16, 25, 36, 49, 64]
resultat_cl_pairs: [4, 16, 36, 64]

In [172]:
# Il est possible de faire du filtrage aussi
resultat = []
for element in liste_origine:
    if element%2==0: #Si l'élément est pair on l'ajoute à la liste  
        resultat.append(element)

resultat_cl = [element for element in liste_origine if element%2 == 0]

print(f"resultat: {resultat}")
print(f"resultat_cl: {resultat_cl}")

resultat: [2, 4, 6, 8]
resultat_cl: [2, 4, 6, 8]

Exo 6
-------

À partir de la liste ```poprock``` ajouter les années d'activité qui suivent la virgule dans une liste ```annees_actives```. Imprimer chaque élément de ```annees_actives```. 

_Indice_: Plusieurs manières de le faire, une bonne idée est d'utiliser la méthode ```.split()``` des strings. Pour voir la doc: ```help(str.split)```

In [174]:
poprock = ["The Beatles, 1960-1970", 
           "The Rolling Stones, depuis 1962", 
           "Pink Floyd, 1965-1995", 
           "Led Zeppelin, 1968-1980",
           "The Who, 1964-1983",
           "Queen, depuis 1971",
           "Depeche Mode, depuis 1980", 
           "Radiohead, depuis 1985", 
           "The Smiths, 1982-1987",
           "The Libertines, 1997-2004", 
           "Arctic Monkeys, 2002-2014"]

In [179]:
first_element = poprock[0]
first_element.split(", ")

['The Beatles', '1960-1970']

In [181]:
first_element.split(", ")[0]

'The Beatles'

In [185]:
# Avec append
annees_actives = []
for i in poprock:
    annees_actives.append(i.split(", ")[1])
annees_actives

['1960-1970',
 'depuis 1962',
 '1965-1995',
 '1968-1980',
 '1964-1983',
 'depuis 1971',
 'depuis 1980',
 'depuis 1985',
 '1982-1987',
 '1997-2004',
 '2002-2014']

In [186]:
# avec liste compréhensive
annees_actives_bis = [i.split(", ")[1] for i in poprock]
annees_actives_bis

['1960-1970',
 'depuis 1962',
 '1965-1995',
 '1968-1980',
 '1964-1983',
 'depuis 1971',
 'depuis 1980',
 'depuis 1985',
 '1982-1987',
 '1997-2004',
 '2002-2014']

Les dictionnaires
-----------------

Les dictionnaires sont comme les listes des objets contenant d'autres objets. À la différence des listes il n'y a pas d'ordre. Les données dans un dictionaire sont dans un format clé-valeur. Une clé va permettre de retrouver une valeur qui peut être de plusieurs types. Les crochets ```{}``` permettent de définir des dictionaires.

In [187]:
# on peut initialiser un dictionaire comme ci-suit
mon_premier_dict = {}  #dict()

In [188]:
# On peut ajouter des éléments au dictionaire
mon_premier_dict["ma_cle"] = "la_valeur_associee_a_ma_cle"
mon_premier_dict["mon prénom"] = "Bob"
mon_premier_dict["mot de passe"] = "*******"
mon_premier_dict["un nombre"] = 12
mon_premier_dict

{'ma_cle': 'la_valeur_associee_a_ma_cle',
 'mon prénom': 'Bob',
 'mot de passe': '*******',
 'un nombre': 12}

In [189]:
# en modifiant la valeur à une clé on perd la version précédente
mon_premier_dict["mot de passe"] = 1234
mon_premier_dict

{'ma_cle': 'la_valeur_associee_a_ma_cle',
 'mon prénom': 'Bob',
 'mot de passe': 1234,
 'un nombre': 12}

In [190]:
# On peut récupérer un élément du dictionaire via une clé
mon_premier_dict["mon prénom"]

'Bob'

In [191]:
# on peut initialiser directement un dictionaire via les {}
mon_deuxieme_dict = {
    "cle": "valeur",
    "prenom": "Charles",
    "nom": "V",
    "ville": "Paris",
    "cp": 75018,
    "nombre de vaches": 3.14,
    "mois": "Novembre"
}
mon_deuxieme_dict

{'cle': 'valeur',
 'prenom': 'Charles',
 'nom': 'V',
 'ville': 'Paris',
 'cp': 75018,
 'nombre de vaches': 3.14,
 'mois': 'Novembre'}

In [192]:
# Comme une liste on peu supprimer une valeur via del ou .pop(clé)
a = mon_deuxieme_dict.pop("prenom")
mon_deuxieme_dict, a

({'cle': 'valeur',
  'nom': 'V',
  'ville': 'Paris',
  'cp': 75018,
  'nombre de vaches': 3.14,
  'mois': 'Novembre'},
 'Charles')

In [193]:
# On peut parcourir une liste grâce à la boucle for. A noter que les dictionaire n'ont pas de structure ordonnée
for element in mon_deuxieme_dict:
    print(element)

cle
nom
ville
cp
nombre de vaches
mois

In [194]:
# Par défaut en parcourant un dictionaire, on obtient les clés, un équivalent:
for cle in mon_deuxieme_dict.keys():
    print(cle)

cle
nom
ville
cp
nombre de vaches
mois

In [195]:
# pour le parcours des valeurs
for valeur in mon_deuxieme_dict.values():
    print(valeur)

valeur
V
Paris
75018
3.14
Novembre

In [196]:
# et les deux d'un coup via items()
for cle, valeur in mon_deuxieme_dict.items():
    print (f"la clé: {cle} | la valeur: {valeur}")

la clé: cle | la valeur: valeur
la clé: nom | la valeur: V
la clé: ville | la valeur: Paris
la clé: cp | la valeur: 75018
la clé: nombre de vaches | la valeur: 3.14
la clé: mois | la valeur: Novembre

In [197]:
for item in mon_deuxieme_dict.items():
    print(item[0], item[1])

cle valeur
nom V
ville Paris
cp 75018
nombre de vaches 3.14
mois Novembre

Exo 7
-------------
A partir de la liste ```poprock``` créer un dictionaire contenant en clé le nom du groupe et en valeur les dates d'activité. Imprimer chaque élément de ce dictionaire.

In [198]:
groupes = [i.split(", ")[0] for i in poprock]

In [200]:
my_dict = {}
for i in range(len(groupes)):
    my_dict[groupes[i]] = annees_actives[i]

my_dict

{'The Beatles': '1960-1970',
 'The Rolling Stones': 'depuis 1962',
 'Pink Floyd': '1965-1995',
 'Led Zeppelin': '1968-1980',
 'The Who': '1964-1983',
 'Queen': 'depuis 1971',
 'Depeche Mode': 'depuis 1980',
 'Radiohead': 'depuis 1985',
 'The Smiths': '1982-1987',
 'The Libertines': '1997-2004',
 'Arctic Monkeys': '2002-2014'}

In [201]:
my_dict["Queen"]

'depuis 1971'