# Intro à l'analyse de données avec Numpy

## Introduction à Numpy

### Les listes

In [1]:
list_of_list =[["Bayonne",64],["Toulouse",31],["Bordeaux",33]]
list_of_list

[['Bayonne', 64], ['Toulouse', 31], ['Bordeaux', 33]]

In [2]:
list_of_list[1][0]

'Toulouse'

In [3]:
liste = [1,"plages",8]
liste.append("montagne")
liste

[1, 'plages', 8, 'montagne']

Avantages :
 - différents types de données
 - modification dynamique
 
Inconvénients :
 - bcp de mémoire et d'énergie consommées
 - problème quand la taille des datasets augmente

### Les tableaux

#### Type ndarray = tableaux de dimensions n

In [4]:
import numpy as np

In [5]:
vector = np.array([2,4,9,17])
vector, type(vector)

(array([ 2,  4,  9, 17]), numpy.ndarray)

In [6]:
matrix = np.array([[1,1,18],[23,4,90],[17,11,87],[18,12,88]])
matrix

array([[ 1,  1, 18],
       [23,  4, 90],
       [17, 11, 87],
       [18, 12, 88]])

In [7]:
matrix = np.array([[1,1,18],[23,"4",90],[17,11,87],[18,"12",88]])
matrix

array([['1', '1', '18'],
       ['23', '4', '90'],
       ['17', '11', '87'],
       ['18', '12', '88']], dtype='<U21')

In [8]:
matrix.dtype

dtype('<U21')

#### Taille d'un tableau

In [9]:
# propriété shape
print(vector.shape)

(4,)

In [10]:
print(matrix.shape)

(4, 3)

In [11]:
print(matrix.shape[0])
print(matrix.shape[1])

4
3

In [12]:
len(vector), len(matrix)

(4, 4)

In [13]:
# méthode size
print(vector.size,matrix.size)

4 12

#### Lecture d'un fichier de données

In [14]:
# numpy.genfromtxt() ou numpy.loadtxt()
data0 = np.genfromtxt("Data/world-alcohol.csv", delimiter = ",")

# les types de données classiques bool, int (16,32,64), float (16,32,64) et string
print(type(data0),data0.dtype)

<class 'numpy.ndarray'> float64

In [15]:
data0

array([[      nan,       nan,       nan,       nan,       nan],
       [1.986e+03,       nan,       nan,       nan, 0.000e+00],
       [1.986e+03,       nan,       nan,       nan, 5.000e-01],
       ...,
       [1.986e+03,       nan,       nan,       nan, 2.540e+00],
       [1.987e+03,       nan,       nan,       nan, 0.000e+00],
       [1.986e+03,       nan,       nan,       nan, 5.150e+00]])

In [16]:
data1 = np.genfromtxt("Data/world-alcohol.csv", delimiter = ",", dtype="U75")
# afficher data0, data1 et data pour voir les effets et l'intérêt des paramètres dtype et skip_header

In [17]:
data1

array([['Year', 'WHO region', 'Country', 'Beverage Types',
        'Display Value'],
       ['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

In [18]:
data = np.genfromtxt("Data/world-alcohol.csv", delimiter = ",", dtype="U75", skip_header =1)
print(data)

[['1986' 'Western Pacific' 'Viet Nam' 'Wine' '0']
 ['1986' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Wine' '1.62']
 ...
 ['1986' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['1986' 'Africa' 'Swaziland' 'Other' '5.15']]

#### Extraction de valeurs et sous-ensembles

Éxécuter les cellules suivantes pour voir et comprendre ce qui se passe. C'est ce qu'on appelle le *slicing*

In [19]:
data[0,3]

'Wine'

In [20]:
data[0,:]

array(['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'], dtype='<U75')

In [21]:
data[:,3]

array(['Wine', 'Other', 'Wine', ..., 'Spirits', 'Other', 'Other'],
      dtype='<U75')

In [22]:
print(data.shape,data.T.shape)

(3257, 5) (5, 3257)

In [23]:
data.T[3,:]

array(['Wine', 'Other', 'Wine', ..., 'Spirits', 'Other', 'Other'],
      dtype='<U75')

In [24]:
data[0:3,:]

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62']], dtype='<U75')

In [25]:
data[:3,:2]

array([['1986', 'Western Pacific'],
       ['1986', 'Americas'],
       ['1985', 'Africa']], dtype='<U75')

In [26]:
data[:,2:5]

array([['Viet Nam', 'Wine', '0'],
       ['Uruguay', 'Other', '0.5'],
       ["Cte d'Ivoire", 'Wine', '1.62'],
       ...,
       ['Switzerland', 'Spirits', '2.54'],
       ['Papua New Guinea', 'Other', '0'],
       ['Swaziland', 'Other', '5.15']], dtype='<U75')

In [27]:
data[:,-2:]

array([['Wine', '0'],
       ['Other', '0.5'],
       ['Wine', '1.62'],
       ...,
       ['Spirits', '2.54'],
       ['Other', '0'],
       ['Other', '5.15']], dtype='<U75')

## Analyse de données avec Numpy

In [28]:
### On travaille sur les mêmes données
data = np.genfromtxt("Data/world-alcohol.csv", delimiter = ",", dtype="U75", skip_header =1)

### Comparer

Possibilité d'effectuer des comparaisons est ce qui rend la bibliothèque Numpy très intéressante !

In [29]:
vector

array([ 2,  4,  9, 17])

In [30]:
vector>=9

array([False, False,  True,  True])

In [31]:
vector[vector>=9]

array([ 9, 17])

In [32]:
data[:,2]=='France'

array([False, False, False, ..., False, False, False])

In [33]:
data[data[:,2]=='France', ]

array([['1985', 'Europe', 'France', 'Spirits', '2.7'],
       ['1989', 'Europe', 'France', 'Wine', '10.24'],
       ['1986', 'Europe', 'France', 'Other', '0.25'],
       ['1989', 'Europe', 'France', 'Other', '0.27'],
       ['1984', 'Europe', 'France', 'Spirits', '2.58'],
       ['1987', 'Europe', 'France', 'Beer', '2.45'],
       ['1986', 'Europe', 'France', 'Spirits', '2.71'],
       ['1989', 'Europe', 'France', 'Beer', '2.56'],
       ['1986', 'Europe', 'France', 'Beer', '2.55'],
       ['1984', 'Europe', 'France', 'Beer', '2.62'],
       ['1984', 'Europe', 'France', 'Other', '0.24'],
       ['1985', 'Europe', 'France', 'Wine', '11.1'],
       ['1985', 'Europe', 'France', 'Other', '0.25'],
       ['1986', 'Europe', 'France', 'Wine', '10.62'],
       ['1989', 'Europe', 'France', 'Spirits', '2.98'],
       ['1985', 'Europe', 'France', 'Beer', '2.54'],
       ['1987', 'Europe', 'France', 'Wine', '10.42'],
       ['1984', 'Europe', 'France', 'Wine', '11.45'],
       ['1987', 'Europe', 'France', 'Other', '0.26'],
       ['1987', 'Europe', 'France', 'Spirits', '2.77']], dtype='<U75')

In [34]:
data[(data[:,2]=='Canada')|(data[:,2]=='France'), :]

array([['1985', 'Europe', 'France', 'Spirits', '2.7'],
       ['1984', 'Americas', 'Canada', 'Spirits', '3.35'],
       ['1989', 'Europe', 'France', 'Wine', '10.24'],
       ['1989', 'Americas', 'Canada', 'Wine', '1.27'],
       ['1984', 'Americas', 'Canada', 'Beer', '5'],
       ['1985', 'Americas', 'Canada', 'Beer', '4.94'],
       ['1986', 'Europe', 'France', 'Other', '0.25'],
       ['1987', 'Americas', 'Canada', 'Wine', '1.3'],
       ['1989', 'Europe', 'France', 'Other', '0.27'],
       ['1987', 'Americas', 'Canada', 'Beer', '4.83'],
       ['1984', 'Europe', 'France', 'Spirits', '2.58'],
       ['1987', 'Europe', 'France', 'Beer', '2.45'],
       ['1986', 'Americas', 'Canada', 'Other', ''],
       ['1986', 'Europe', 'France', 'Spirits', '2.71'],
       ['1989', 'Europe', 'France', 'Beer', '2.56'],
       ['1986', 'Europe', 'France', 'Beer', '2.55'],
       ['1986', 'Americas', 'Canada', 'Spirits', '3.11'],
       ['1985', 'Americas', 'Canada', 'Spirits', '3.21'],
       ['1984', 'Europe', 'France', 'Beer', '2.62'],
       ['1984', 'Europe', 'France', 'Other', '0.24'],
       ['1985', 'Americas', 'Canada', 'Other', ''],
       ['1986', 'Americas', 'Canada', 'Beer', '4.87'],
       ['1985', 'Europe', 'France', 'Wine', '11.1'],
       ['1984', 'Americas', 'Canada', 'Wine', '1.24'],
       ['1985', 'Europe', 'France', 'Other', '0.25'],
       ['1986', 'Europe', 'France', 'Wine', '10.62'],
       ['1989', 'Europe', 'France', 'Spirits', '2.98'],
       ['1985', 'Europe', 'France', 'Beer', '2.54'],
       ['1989', 'Americas', 'Canada', 'Spirits', '2.91'],
       ['1987', 'Europe', 'France', 'Wine', '10.42'],
       ['1984', 'Europe', 'France', 'Wine', '11.45'],
       ['1987', 'Europe', 'France', 'Other', '0.26'],
       ['1984', 'Americas', 'Canada', 'Other', ''],
       ['1985', 'Americas', 'Canada', 'Wine', '1.29'],
       ['1987', 'Americas', 'Canada', 'Spirits', '2.99'],
       ['1989', 'Americas', 'Canada', 'Beer', '4.82'],
       ['1989', 'Americas', 'Canada', 'Other', ''],
       ['1986', 'Americas', 'Canada', 'Wine', '1.33'],
       ['1987', 'Europe', 'France', 'Spirits', '2.77'],
       ['1987', 'Americas', 'Canada', 'Other', '']], dtype='<U75')

In [35]:
data[((data[:,2]=='Canada') | (data[:,2]=='France')) & (data[:,0] == '1986')]

array([['1986', 'Europe', 'France', 'Other', '0.25'],
       ['1986', 'Americas', 'Canada', 'Other', ''],
       ['1986', 'Europe', 'France', 'Spirits', '2.71'],
       ['1986', 'Europe', 'France', 'Beer', '2.55'],
       ['1986', 'Americas', 'Canada', 'Spirits', '3.11'],
       ['1986', 'Americas', 'Canada', 'Beer', '4.87'],
       ['1986', 'Europe', 'France', 'Wine', '10.62'],
       ['1986', 'Americas', 'Canada', 'Wine', '1.33']], dtype='<U75')

In [36]:
data86 = data[data[:,0] == '1986']
data86[(data86[:,2]=='Canada') | (data86[:,2]=='France')]

array([['1986', 'Europe', 'France', 'Other', '0.25'],
       ['1986', 'Americas', 'Canada', 'Other', ''],
       ['1986', 'Europe', 'France', 'Spirits', '2.71'],
       ['1986', 'Europe', 'France', 'Beer', '2.55'],
       ['1986', 'Americas', 'Canada', 'Spirits', '3.11'],
       ['1986', 'Americas', 'Canada', 'Beer', '4.87'],
       ['1986', 'Europe', 'France', 'Wine', '10.62'],
       ['1986', 'Americas', 'Canada', 'Wine', '1.33']], dtype='<U75')

### Remplacer des valeurs

In [37]:
data2=data.copy()
data2[data2[:,0]=='1986', 0]='2018'
data2

array([['2018', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['2018', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ...,
       ['2018', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['2018', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

### Convertir des types de données

In [38]:
### pour effectuer des calculs sur la consommation moyenne, celle-ci doit être numérique
### or pour le moment il s'agit d'un string (conséquence du dtype="U75")

### On utilise la méthode .astype()
mon_filtre_valeurs_vide = (data[:,4] == '')
data[mon_filtre_valeurs_vide, 4] = '0'
consommation = data[:,4].astype(float)
consommation

array([0.  , 0.5 , 1.62, ..., 2.54, 0.  , 5.15])

### Calculs avec Numpy

In [39]:
### sum(), mean(), max(), ...
vector

array([ 2,  4,  9, 17])

In [40]:
sum(vector)

32

In [41]:
vector.sum()

32

In [42]:
vector.mean()

8.0

In [43]:
vector.max()

17

In [44]:
vector.min()

2

In [45]:
matrix = matrix.astype(int)
matrix

array([[ 1,  1, 18],
       [23,  4, 90],
       [17, 11, 87],
       [18, 12, 88]])

In [46]:
matrix[:,2].sum()

283

In [47]:
matrix.sum(axis=0)

array([ 59,  28, 283])

In [48]:
matrix.sum(axis=1)

array([ 20, 117, 115, 118])

In [49]:
matrix.sum(axis=0)[2]

283

In [50]:
print(matrix.sum(axis=1),' et ', matrix.sum(axis=0))

[ 20 117 115 118]  et  [ 59  28 283]

In [51]:
print(matrix.max(axis=1),' et ', matrix.max(axis=0))

[18 90 87 88]  et  [23 12 90]

In [52]:
print(matrix.mean(axis=1),' et ', matrix.mean(axis=0))

[ 6.66666667 39.         38.33333333 39.33333333]  et  [14.75  7.   70.75]

## Exo : comparer les consommations annuelles d'alcool par pays et déterminer le pays qui a la plus grande consommation d'alcool

In [53]:
import numpy as np
data = np.genfromtxt("Data/world-alcohol.csv", delimiter = ",", dtype="U75", skip_header =1)
data = data[data[:,4]!='']
print(data.shape)
data

(3035, 5)

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

In [54]:
#Conso totale en Fr en 86
data[(data[:, 2] == "France") & (data[:, 0] == "1986"), 4].astype(float).sum()

16.13

In [55]:
# Conso totale de vins en Fr
data[(data[:, 2] == "France") & (data[:, 3] == "Wine"), 4].astype(float).sum()

53.83

In [56]:
np.mean(data[(data[:, 2] == "France") & (data[:, 3] == "Wine"), 4].astype(float))

10.766

In [57]:
# Conso moyenne de vins en Fr
data[(data[:, 2] == "France") & (data[:, 3] == "Wine"), 4].astype(float).mean()

10.766

In [58]:
# Conso max de vins en Fr
max_vins = np.max(data[(data[:, 2] == "France") & (data[:, 3] == "Wine"), 4].astype(float))
max_vins

11.45

In [59]:
data[data[:, 4].astype(float) == max_vins, 0]

array(['1984'], dtype='<U75')

In [60]:
# 
vins_fra = data[(data[:, 2] == "France") & (data[:, 3] == "Wine"), :]
vins_fra[np.argmax(vins_fra[:, 4].astype(float)), 0]

'1984'

In [66]:
# une solution possibe parmi les 100aines qui existent : chacun la sienne donc !
# on va créer un dictionnaire de la forme :
# conso = {pays1 :{annee1 : conso1,
#                  annee2 : conso2,
#                  etc},
#           pays2 :{annee1 : conso1,
#                   annee2 : conso2,
#                   etc},
#            ...}
conso = {}

for pays in np.unique(data[:, 2]):
    conso[pays] = {}
    for annee in np.unique(data[:,0]):
        filtre = (data[:,0]==annee) & (data[:,2]==pays)
        conso[pays][annee] = data[filtre,4].astype(float).sum()
    
conso

{'Afghanistan': {'1984': 0.0,
  '1985': 0.0,
  '1986': 0.0,
  '1987': 0.0,
  '1989': 0.0},
 'Albania': {'1984': 1.58,
  '1985': 1.6,
  '1986': 1.38,
  '1987': 1.63,
  '1989': 1.73},
 'Algeria': {'1984': 0.33,
  '1985': 0.31,
  '1986': 0.29,
  '1987': 0.28,
  '1989': 0.4},
 'Angola': {'1984': 1.94,
  '1985': 2.06,
  '1986': 1.7,
  '1987': 1.6300000000000001,
  '1989': 2.28},
 'Antigua and Barbuda': {'1984': 5.41,
  '1985': 3.58,
  '1986': 3.55,
  '1987': 3.68,
  '1989': 4.69},
 'Argentina': {'1984': 13.839999999999998,
  '1985': 12.749999999999998,
  '1986': 12.89,
  '1987': 12.759999999999998,
  '1989': 10.82},
 'Australia': {'1984': 12.73,
  '1985': 12.9,
  '1986': 12.3,
  '1987': 12.46,
  '1989': 12.09},
 'Austria': {'1984': 13.9,
  '1985': 13.3,
  '1986': 13.6,
  '1987': 13.5,
  '1989': 13.9},
 'Bahamas': {'1984': 14.74,
  '1985': 14.55,
  '1986': 14.120000000000001,
  '1987': 14.139999999999999,
  '1989': 12.290000000000001},
 'Bahrain': {'1984': 6.53,
  '1985': 5.45,
  '1986': 5.11,
  '1987': 5.5600000000000005,
  '1989': 4.89},
 'Bangladesh': {'1984': 0.0,
  '1985': 0.0,
  '1986': 0.0,
  '1987': 0.0,
  '1989': 0.0},
 'Belarus': {'1984': 0.0,
  '1985': 0.0,
  '1986': 0.0,
  '1987': 0.0,
  '1989': 7.9799999999999995},
 'Belgium': {'1984': 13.26,
  '1985': 13.14,
  '1986': 12.72,
  '1987': 13.16,
  '1989': 11.61},
 'Belize': {'1984': 6.199999999999999,
  '1985': 6.17,
  '1986': 5.73,
  '1987': 4.6499999999999995,
  '1989': 0.0},
 'Benin': {'1984': 1.43,
  '1985': 1.24,
  '1986': 1.26,
  '1987': 1.54,
  '1989': 1.3800000000000001},
 'Bhutan': {'1984': 0.51,
  '1985': 0.5,
  '1986': 0.46,
  '1987': 0.46,
  '1989': 0.31},
 'Bolivia (Plurinational State of)': {'1984': 2.9899999999999998,
  '1985': 3.4099999999999997,
  '1986': 3.29,
  '1987': 3.06,
  '1989': 3.05},
 'Botswana': {'1984': 4.33,
  '1985': 4.3500000000000005,
  '1986': 4.4799999999999995,
  '1987': 4.26,
  '1989': 4.63},
 'Brazil': {'1984': 3.7199999999999998,
  '1985': 3.7899999999999996,
  '1986': 4.13,
  '1987': 3.94,
  '1989': 5.52},
 'Brunei Darussalam': {'1984': 4.06,
  '1985': 3.3099999999999996,
  '1986': 2.5300000000000002,
  '1987': 2.8899999999999997,
  '1989': 2.7800000000000002},
 'Bulgaria': {'1984': 11.370000000000001,
  '1985': 10.92,
  '1986': 11.47,
  '1987': 10.91,
  '1989': 11.43},
 'Burkina Faso': {'1984': 3.3,
  '1985': 3.11,
  '1986': 3.71,
  '1987': 4.069999999999999,
  '1989': 3.99},
 'Burundi': {'1984': 7.43,
  '1985': 8.26,
  '1986': 8.35,
  '1987': 8.22,
  '1989': 8.159999999999998},
 'Cabo Verde': {'1984': 2.62,
  '1985': 2.5,
  '1986': 2.92,
  '1987': 3.36,
  '1989': 2.79},
 'Cambodia': {'1984': 0.3,
  '1985': 0.25,
  '1986': 0.22,
  '1987': 0.22,
  '1989': 0.33},
 'Cameroon': {'1984': 5.97,
  '1985': 6.21,
  '1986': 6.5,
  '1987': 6.500000000000001,
  '1989': 6.359999999999999},
 'Canada': {'1984': 9.59,
  '1985': 9.440000000000001,
  '1986': 9.31,
  '1987': 9.120000000000001,
  '1989': 9.0},
 'Central African Republic': {'1984': 2.5,
  '1985': 2.7999999999999994,
  '1986': 2.94,
  '1987': 2.7800000000000002,
  '1989': 2.5199999999999996},
 'Chad': {'1984': 0.33999999999999997,
  '1985': 0.4,
  '1986': 0.32,
  '1987': 0.30000000000000004,
  '1989': 0.30000000000000004},
 'Chile': {'1984': 10.04,
  '1985': 9.719999999999999,
  '1986': 8.93,
  '1987': 9.49,
  '1989': 8.649999999999999},
 'China': {'1984': 2.36,
  '1985': 2.0500000000000003,
  '1986': 2.38,
  '1987': 3.1599999999999997,
  '1989': 3.33},
 'Colombia': {'1984': 6.18,
  '1985': 6.33,
  '1986': 6.609999999999999,
  '1987': 6.819999999999999,
  '1989': 6.960000000000001},
 'Comoros': {'1984': 0.5,
  '1985': 0.37,
  '1986': 0.16,
  '1987': 0.08,
  '1989': 0.10999999999999999},
 'Congo': {'1984': 6.1899999999999995,
  '1985': 5.699999999999999,
  '1986': 5.4,
  '1987': 4.76,
  '1989': 3.1500000000000004},
 'Costa Rica': {'1984': 4.869999999999999,
  '1985': 5.04,
  '1986': 4.859999999999999,
  '1987': 4.2299999999999995,
  '1989': 5.3999999999999995},
 'Croatia': {'1984': 0.0,
  '1985': 0.0,
  '1986': 0.0,
  '1987': 13.51,
  '1989': 10.92},
 "Cte d'Ivoire": {'1984': 2.76,
  '1985': 3.12,
  '1986': 2.8000000000000003,
  '1987': 2.49,
  '1989': 2.2},
 'Cuba': {'1984': 3.75,
  '1985': 3.96,
  '1986': 4.04,
  '1987': 4.37,
  '1989': 4.37},
 'Cyprus': {'1984': 7.609999999999999,
  '1985': 7.93,
  '1986': 8.32,
  '1987': 8.870000000000001,
  '1989': 9.29},
 'Czech Republic': {'1984': 14.29,
  '1985': 14.24,
  '1986': 13.01,
  '1987': 13.2,
  '1989': 13.009999999999998},
 "Democratic People's Republic of Korea": {'1984': 3.33,
  '1985': 3.47,
  '1986': 3.5100000000000002,
  '1987': 3.5900000000000003,
  '1989': 3.6799999999999997},
 'Democratic Republic of the Congo': {'1984': 2.27,
  '1985': 2.69,
  '1986': 2.34,
  '1987': 2.3599999999999994,
  '1989': 1.92},
 'Denmark': {'1984': 12.4,
  '1985': 12.200000000000001,
  '1986': 12.26,
  '1987': 11.74,
  '1989': 11.649999999999999},
 'Djibouti': {'1984': 2.4699999999999998,
  '1985': 2.95,
  '1986': 2.26,
  '1987': 1.5899999999999999,
  '1989': 0.87},
 'Dominican Republic': {'1984': 3.63,
  '1985': 3.5199999999999996,
  '1986': 3.7199999999999998,
  '1987': 4.37,
  '1989': 4.53},
 'Ecuador': {'1984': 2.33,
  '1985': 2.3200000000000003,
  '1986': 2.5,
  '1987': 2.54,
  '1989': 2.54},
 'Egypt': {'1984': 0.38,
  '1985': 0.37,
  '1986': 0.39,
  '1987': 0.39,
  '1989': 0.42000000000000004},
 'El Salvador': {'1984': 2.56,
  '1985': 2.58,
  '1986': 2.41,
  '1987': 2.27,
  '1989': 1.77},
 'Equatorial Guinea': {'1984': 0.08,
  '1985': 0.25,
  '1986': 1.84,
  '1987': 2.4,
  '1989': 6.49},
 'Eritrea': {'1984': 0.55,
  '1985': 0.54,
  '1986': 0.3,
  '1987': 0.39,
  '1989': 0.29},
 'Ethiopia': {'1984': 0.6799999999999999,
  '1985': 0.63,
  '1986': 0.62,
  '1987': 0.63,
  '1989': 0.8600000000000001},
 'Fiji': {'1984': 2.19,
  '1985': 2.0500000000000003,
  '1986': 1.81,
  '1987': 1.6500000000000001,
  '1989': 1.9600000000000002},
 'Finland': {'1984': 8.059999999999999,
  '1985': 8.06,
  '1986': 8.510000000000002,
  '1987': 8.75,
  '1989': 9.419999999999998},
 'France': {'1984': 16.89,
  '1985': 16.59,
  '1986': 16.13,
  '1987': 15.9,
  '1989': 16.05},
 'Gabon': {'1984': 15.14,
  '1985': 14.75,
  '1986': 13.73,
  '1987': 11.41,
  '1989': 9.34},
 'Gambia': {'1984': 1.2700000000000002,
  '1985': 1.67,
  '1986': 2.19,
  '1987': 1.9600000000000002,
  '1989': 1.6300000000000001},
 'Germany': {'1984': 15.15,
  '1985': 15.14,
  '1986': 14.72,
  '1987': 14.83,
  '1989': 14.64},
 'Ghana': {'1984': 1.3900000000000001,
  '1985': 1.6700000000000002,
  '1986': 1.45,
  '1987': 1.28,
  '1989': 1.8599999999999999},
 'Greece': {'1984': 11.59,
  '1985': 10.879999999999999,
  '1986': 8.920000000000002,
  '1987': 9.82,
  '1989': 10.15},
 'Guatemala': {'1984': 3.0300000000000002,
  '1985': 3.03,
  '1986': 2.58,
  '1987': 2.78,
  '1989': 2.47},
 'Guinea': {'1984': 0.05,
  '1985': 0.060000000000000005,
  '1986': 0.16000000000000003,
  '1987': 0.18,
  '1989': 0.21},
 'Guinea-Bissau': {'1984': 3.11,
  '1985': 2.8499999999999996,
  '1986': 2.44,
  '1987': 2.4499999999999997,
  '1989': 2.67},
 'Guyana': {'1984': 4.0600000000000005,
  '1985': 5.9,
  '1986': 6.05,
  '1987': 7.6,
  '1989': 9.940000000000001},
 'Haiti': {'1984': 4.449999999999999,
  '1985': 6.4,
  '1986': 5.7299999999999995,
  '1987': 5.119999999999999,
  '1989': 5.81},
 'Honduras': {'1984': 2.18,
  '1985': 1.89,
  '1986': 2.05,
  '1987': 2.01,
  '1989': 2.15},
 'Hungary': {'1984': 16.82,
  '1985': 16.740000000000002,
  '1986': 16.67,
  '1987': 15.7,
  '1989': 16.29},
 'Iceland': {'1984': 5.379999999999999,
  '1985': 5.359999999999999,
  '1986': 5.48,
  '1987': 5.6499999999999995,
  '1989': 5.359999999999999},
 'India': {'1984': 1.16,
  '1985': 1.26,
  '1986': 1.32,
  '1987': 1.49,
  '1989': 1.66},
 'Indonesia': {'1984': 0.06,
  '1985': 0.07,
  '1986': 0.07,
  '1987': 0.06,
  '1989': 0.07},
 'Iran (Islamic Republic of)': {'1984': 0.0,
  '1985': 0.0,
  '1986': 0.0,
  '1987': 0.0,
  '1989': 0.0},
 'Iraq': {'1984': 0.8999999999999999,
  '1985': 0.65,
  '1986': 0.75,
  '1987': 0.66,
  '1989': 0.75},
 'Ireland': {'1984': 11.07,
  '1985': 11.63,
  '1986': 11.24,
  '1987': 10.98,
  '1989': 11.79},
 'Israel': {'1984': 2.65,
  '1985': 2.6900000000000004,
  '1986': 2.2600000000000002,
  '1987': 2.26,
  '1989': 2.0300000000000002},
 'Italy': {'1984': 14.019999999999998,
  '1985': 13.28,
  '1986': 12.3,
  '1987': 11.790000000000001,
  '1989': 10.899999999999999},
 'Jamaica': {'1984': 3.21,
  '1985': 2.6799999999999997,
  '1986': 2.77,
  '1987': 3.11,
  '1989': 3.03},
 'Japan': {'1984': 7.1,
  '1985': 6.9799999999999995,
  '1986': 7.2,
  '1987': 7.7,
  '1989': 7.74},
 'Jordan': {'1984': 0.37,
  '1985': 0.24,
  '1986': 0.29000000000000004,
  '1987': 0.30000000000000004,
  '1989': 0.19},
 'Kenya': {'1984': 2.46,
  '1985': 2.79,
  '1986': 2.76,
  '1987': 2.78,
  '1989': 2.82},
 'Kiribati': {'1984': 0.57,
  '1985': 0.51,
  '1986': 0.5800000000000001,
  '1987': 0.63,
  '1989': 0.48},
 'Kuwait': {'1984': 0.0, '1985': 0.0, '1986': 0.0, '1987': 0.0, '1989': 0.0},
 'Kyrgyzstan': {'1984': 0.0,
  '1985': 7.07,
  '1986': 3.41,
  '1987': 3.01,
  '1989': 4.279999999999999},
 "Lao People's Democratic Republic": {'1984': 4.67,
  '1985': 4.81,
  '1986': 4.93,
  '1987': 4.59,
  '1989': 5.95},
 'Latvia': {'1984': 12.35,
  '1985': 10.85,
  '1986': 7.79,
  '1987': 5.77,
  '1989': 7.039999999999999},
 'Lebanon': {'1984': 3.46,
  '1985': 3.73,
  '1986': 4.12,
  '1987': 3.8099999999999996,
  '1989': 3.94},
 'Lesotho': {'1984': 3.28,
  '1985': 2.5300000000000002,
  '1986': 2.34,
  '1987': 2.1,
  '1989': 2.02},
 'Liberia': {'1984': 3.62,
  '1985': 3.99,
  '1986': 4.43,
  '1987': 4.869999999999999,
  '1989': 5.61},
 'Libya': {'1984': 0.0, '1985': 0.0, '1986': 0.0, '1987': 0.0, '1989': 0.0},
 'Luxembourg': {'1984': 15.89,
  '1985': 15.74,
  '1986': 15.3,
  '1987': 15.23,
  '1989': 15.21},
 'Madagascar': {'1984': 1.17,
  '1985': 1.29,
  '1986': 1.4,
  '1987': 1.3299999999999998,
  '1989': 1.38},
 'Malawi': {'1984': 1.0899999999999999,
  '1985': 1.35,
  '1986': 1.35,
  '1987': 1.12,
  '1989': 1.02},
 'Malaysia': {'1984': 0.66,
  '1985': 0.6900000000000001,
  '1986': 0.64,
  '1987': 0.64,
  '1989': 0.68},
 'Mali': {'1984': 0.45,
  '1985': 0.64,
  '1986': 0.58,
  '1987': 0.62,
  '1989': 0.6699999999999999},
 'Malta': {'1984': 5.05,
  '1985': 4.91,
  '1986': 5.34,
  '1987': 5.0,
  '1989': 7.13},
 'Mauritania': {'1984': 0.04,
  '1985': 0.05,
  '1986': 0.03,
  '1987': 0.02,
  '1989': 0.02},
 'Mauritius': {'1984': 2.8200000000000003,
  '1985': 2.8600000000000003,
  '1986': 3.04,
  '1987': 3.42,
  '1989': 3.54},
 'Mexico': {'1984': 4.38,
  '1985': 4.45,
  '1986': 4.430000000000001,
  '1987': 4.699999999999999,
  '1989': 5.1},
 'Micronesia (Federated States of)': {'1984': 0.0,
  '1985': 0.0,
  '1986': 0.0,
  '1987': 0.0,
  '1989': 0.0},
 'Mongolia': {'1984': 3.6500000000000004,
  '1985': 3.33,
  '1986': 2.7300000000000004,
  '1987': 2.1,
  '1989': 2.59},
 'Morocco': {'1984': 0.54,
  '1985': 0.56,
  '1986': 0.71,
  '1987': 0.76,
  '1989': 0.7},
 'Mozambique': {'1984': 0.26,
  '1985': 0.25,
  '1986': 0.37,
  '1987': 0.29000000000000004,
  '1989': 0.39},
 'Myanmar': {'1984': 0.29000000000000004,
  '1985': 0.3,
  '1986': 0.28,
  '1987': 0.27,
  '1989': 0.16},
 'Namibia': {'1984': 0.27,
  '1985': 0.27,
  '1986': 0.26,
  '1987': 0.25,
  '1989': 0.24},
 'Nepal': {'1984': 0.02,
  '1985': 0.01,
  '1986': 0.01,
  '1987': 0.02,
  '1989': 0.03},
 'Netherlands': {'1984': 10.76,
  '1985': 10.55,
  '1986': 10.620000000000001,
  '1987': 10.2,
  '1989': 10.030000000000001},
 'New Zealand': {'1984': 12.079999999999998,
  '1985': 11.959999999999999,
  '1986': 12.219999999999999,
  '1987': 12.27,
  '1989': 11.52},
 'Nicaragua': {'1984': 3.0999999999999996,
  '1985': 3.3499999999999996,
  '1986': 3.48,
  '1987': 3.45,
  '1989': 2.5},
 'Niger': {'1984': 0.21,
  '1985': 0.14,
  '1986': 0.17,
  '1987': 0.16,
  '1989': 0.11},
 'Nigeria': {'1984': 7.35,
  '1985': 7.27,
  '1986': 7.26,
  '1987': 7.319999999999999,
  '1989': 6.74},
 'Norway': {'1984': 4.9799999999999995,
  '1985': 5.22,
  '1986': 5.27,
  '1987': 5.38,
  '1989': 5.08},
 'Oman': {'1984': 0.14,
  '1985': 0.12,
  '1986': 0.14,
  '1987': 1.17,
  '1989': 1.03},
 'Pakistan': {'1984': 0.02,
  '1985': 0.02,
  '1986': 0.02,
  '1987': 0.02,
  '1989': 0.02},
 'Panama': {'1984': 4.99,
  '1985': 4.87,
  '1986': 5.08,
  '1987': 5.05,
  '1989': 4.6000000000000005},
 'Papua New Guinea': {'1984': 1.2500000000000002,
  '1985': 1.3,
  '1986': 1.23,
  '1987': 1.29,
  '1989': 1.1099999999999999},
 'Paraguay': {'1984': 7.03,
  '1985': 6.85,
  '1986': 7.48,
  '1987': 7.35,
  '1989': 6.51},
 'Peru': {'1984': 5.73,
  '1985': 5.1,
  '1986': 5.96,
  '1987': 6.680000000000001,
  '1989': 4.99},
 'Philippines': {'1984': 4.300000000000001,
  '1985': 4.57,
  '1986': 4.1,
  '1987': 4.42,
  '1989': 3.78},
 'Poland': {'1984': 8.31,
  '1985': 8.5,
  '1986': 9.18,
  '1987': 9.41,
  '1989': 9.33},
 'Portugal': {'1984': 17.5,
  '1985': 15.010000000000002,
  '1986': 14.43,
  '1987': 13.22,
  '1989': 15.350000000000001},
 'Qatar': {'1984': 2.23,
  '1985': 2.06,
  '1986': 2.11,
  '1987': 1.42,
  '1989': 1.4500000000000002},
 'Republic of Korea': {'1984': 10.67,
  '1985': 10.18,
  '1986': 10.25,
  '1987': 10.18,
  '1989': 9.620000000000001},
 'Romania': {'1984': 9.719999999999999,
  '1985': 9.690000000000001,
  '1986': 9.9,
  '1987': 7.08,
  '1989': 8.41},
 'Russian Federation': {'1984': 8.979999999999999,
  '1985': 7.61,
  '1986': 5.289999999999999,
  '1987': 4.59,
  '1989': 5.35},
 'Rwanda': {'1984': 7.09,
  '1985': 7.509999999999999,
  '1986': 6.87,
  '1987': 6.489999999999999,
  '1989': 7.549999999999999},
 'Saint Kitts and Nevis': {'1984': 3.9699999999999998,
  '1985': 3.5100000000000002,
  '1986': 3.98,
  '1987': 3.18,
  '1989': 4.65},
 'Saint Lucia': {'1984': 9.07,
  '1985': 8.9,
  '1986': 9.66,
  '1987': 10.030000000000001,
  '1989': 11.62},
 'Samoa': {'1984': 1.69,
  '1985': 1.74,
  '1986': 1.6400000000000001,
  '1987': 3.1399999999999997,
  '1989': 2.63},
 'Sao Tome and Principe': {'1984': 0.95,
  '1985': 0.76,
  '1986': 0.65,
  '1987': 1.9,
  '1989': 2.57},
 'Saudi Arabia': {'1984': 0.4,
  '1985': 0.27,
  '1986': 0.2,
  '1987': 0.21,
  '1989': 0.15},
 'Senegal': {'1984': 0.5800000000000001,
  '1985': 0.45,
  '1986': 0.44,
  '1987': 0.45999999999999996,
  '1989': 0.6100000000000001},
 'Seychelles': {'1984': 3.1100000000000003,
  '1985': 3.19,
  '1986': 3.21,
  '1987': 3.27,
  '1989': 3.3000000000000003},
 'Sierra Leone': {'1984': 4.58,
  '1985': 4.79,
  '1986': 4.61,
  '1987': 4.52,
  '1989': 4.380000000000001},
 'Singapore': {'1984': 2.3200000000000003,
  '1985': 1.79,
  '1986': 1.6300000000000001,
  '1987': 1.74,
  '1989': 1.61},
 'Slovakia': {'1984': 14.33,
  '1985': 13.819999999999999,
  '1986': 13.3,
  '1987': 13.240000000000002,
  '1989': 12.700000000000001},
 'Slovenia': {'1984': 17.23,
  '1985': 15.080000000000002,
  '1986': 18.13,
  '1987': 16.64,
  '1989': 12.969999999999999},
 'Solomon Islands': {'1984': 1.09,
  '1985': 1.1300000000000001,
  '1986': 0.9000000000000001,
  '1987': 0.7,
  '1989': 0.5800000000000001},
 'Somalia': {'1984': 0.01,
  '1985': 0.01,
  '1986': 0.01,
  '1987': 0.02,
  '1989': 0.0},
 'South Africa': {'1984': 8.77,
  '1985': 8.4,
  '1986': 8.85,
  '1987': 8.97,
  '1989': 9.21},
 'Spain': {'1984': 14.490000000000002,
  '1985': 14.47,
  '1986': 14.370000000000001,
  '1987': 14.41,
  '1989': 13.280000000000001},
 'Sri Lanka': {'1984': 0.28,
  '1985': 0.26,
  '1986': 0.19,
  '1987': 0.18000000000000002,
  '1989': 0.14},
 'Sudan': {'1984': 0.26,
  '1985': 0.25,
  '1986': 0.25,
  '1987': 0.25,
  '1989': 0.15},
 'Suriname': {'1984': 6.970000000000001,
  '1985': 6.24,
  '1986': 5.26,
  '1987': 3.4800000000000004,
  '1989': 3.67},
 'Swaziland': {'1984': 7.33,
  '1985': 9.69,
  '1986': 6.470000000000001,
  '1987': 3.4699999999999998,
  '1989': 6.68},
 'Sweden': {'1984': 6.82,
  '1985': 6.9,
  '1986': 7.210000000000001,
  '1987': 7.07,
  '1989': 7.47},
 'Switzerland': {'1984': 14.33,
  '1985': 14.37,
  '1986': 14.07,
  '1987': 14.02,
  '1989': 13.849999999999998},
 'Syrian Arab Republic': {'1984': 0.8600000000000001,
  '1985': 1.01,
  '1986': 1.02,
  '1987': 0.77,
  '1989': 0.54},
 'Thailand': {'1984': 6.03,
  '1985': 2.46,
  '1986': 2.44,
  '1987': 2.58,
  '1989': 3.92},
 'Togo': {'1984': 2.6100000000000003,
  '1985': 2.85,
  '1986': 2.8,
  '1987': 2.6499999999999995,
  '1989': 2.2199999999999998},
 'Trinidad and Tobago': {'1984': 5.88,
  '1985': 4.9399999999999995,
  '1986': 5.199999999999999,
  '1987': 4.349999999999999,
  '1989': 4.68},
 'Tunisia': {'1984': 1.1600000000000001,
  '1985': 1.16,
  '1986': 1.15,
  '1987': 0.98,
  '1989': 0.95},
 'Turkey': {'1984': 1.0,
  '1985': 0.98,
  '1986': 0.8500000000000001,
  '1987': 0.89,
  '1989': 0.72},
 'Uganda': {'1984': 7.84,
  '1985': 7.01,
  '1986': 7.47,
  '1987': 7.5200000000000005,
  '1989': 7.8},
 'Ukraine': {'1984': 7.08,
  '1985': 6.620000000000001,
  '1986': 4.390000000000001,
  '1987': 4.01,
  '1989': 5.32},
 'United Arab Emirates': {'1984': 12.43,
  '1985': 8.34,
  '1986': 6.74,
  '1987': 5.36,
  '1989': 4.43},
 'United Kingdom of Great Britain and Northern Ireland': {'1984': 10.16,
  '1985': 10.239999999999998,
  '1986': 10.260000000000002,
  '1987': 9.530000000000001,
  '1989': 9.99},
 'United Republic of Tanzania': {'1984': 6.56,
  '1985': 8.25,
  '1986': 7.29,
  '1987': 6.89,
  '1989': 5.9},
 'United States of America': {'1984': 10.18,
  '1985': 9.879999999999999,
  '1986': 9.73,
  '1987': 9.61,
  '1989': 9.16},
 'Uruguay': {'1984': 7.67,
  '1985': 7.239999999999999,
  '1986': 7.2299999999999995,
  '1987': 7.64,
  '1989': 7.4399999999999995},
 'Vanuatu': {'1984': 2.2399999999999998,
  '1985': 2.14,
  '1986': 1.74,
  '1987': 1.4300000000000002,
  '1989': 1.74},
 'Venezuela (Bolivarian Republic of)': {'1984': 9.02,
  '1985': 7.93,
  '1986': 8.32,
  '1987': 9.16,
  '1989': 7.87},
 'Viet Nam': {'1984': 0.17,
  '1985': 0.16999999999999998,
  '1986': 0.16999999999999998,
  '1987': 0.16,
  '1989': 0.16},
 'Yemen': {'1984': 0.22,
  '1985': 0.28,
  '1986': 0.22,
  '1987': 0.16999999999999998,
  '1989': 0.2},
 'Zambia': {'1984': 2.8299999999999996,
  '1985': 3.11,
  '1986': 3.07,
  '1987': 3.12,
  '1989': 3.37},
 'Zimbabwe': {'1984': 7.27,
  '1985': 6.61,
  '1986': 7.24,
  '1987': 5.029999999999999,
  '1989': 4.92}}

In [73]:
conso['France']

{'1984': 16.89, '1985': 16.59, '1986': 16.13, '1987': 15.9, '1989': 16.05}

Pour déterminer le pays avec la plus grande consommation d'alcool, il y a plusieurs mesures possibles :
 - le plus grand consommateur annuel (la plus grande consommation sur une année) ? *réponse le recordman : tel pays a consommé tant en telle année*
 - le plus grand consommateur annuel en moyenne sur toute la période ? *plus grande consommation consommation annuelle moyenne calculée sur 84-89*
 - le plus grand en consommation totale sur la période ?
 - celui qui a été plus grand consommateur annuel le plus de fois sur la période ?
 - système de classement par points avec des points attribués chaque année en fonction de la position
 - etc...

On en implémente quelques unes

In [76]:
### Plus grand en consommation annuelle

# calcul la conso max pour chaque pays
conso_max = {}
for pays in conso:
    conso_max[pays] = max(conso[pays].values())
    

# récupérer la consommation record
conso_record = max(conso_max.values())
conso_record

18.13

In [77]:
# récuéprer le pays et l'année ayant atteint ce record
for pays in conso:
    for ann in conso[pays]:
        if conso_record == conso[pays][ann]:
            pays_record = pays
            annee_record = ann

print(f"{pays_record} a consommé {conso_record} L/hab en {annee_record}")

Slovenia a consommé 18.13 L/hab en 1986

In [78]:
### Plus grand en consommation myenne sur la période

# calcul la conso moyenne pour chaque pays
conso_moy = {}
for pays in conso:
    conso_moy[pays] = sum(conso[pays].values())/len(conso[pays].values())

# récupérer la plus grande conso moyenne
conso_moy_max = max(conso_moy.values())

# récupérer le pays qui a cette moyenne
for pays in conso_moy:
    if conso_moy[pays] == conso_moy_max:
        pays_max = pays
        break
                
print(f"{pays_max} a la plus grande consommation moyenne sur la période 84-89 avec {conso_moy_max} L/hab consommés en moyenne")

Hungary a la plus grande consommation moyenne sur la période 84-89 avec 16.444 L/hab consommés en moyenne

In [79]:
### Plus grand en consommation totale sur toute la période

#calcul la conso totale
conso_tot = {}
for pays in conso:
    conso_tot[pays] = sum(conso[pays].values())
    
# récupérer la conso totale max ET le pays associé
pays_max = ''
conso_max = 0

for pays in conso_tot:
    if conso_tot[pays] > conso_max:
        conso_max = conso_tot[pays]
        pays_max = pays

print(f"{pays_max} est le champion sur la période 84-89 avec au total {conso_max} L/hab consommés")

Hungary est le champion sur la période 84-89 avec au total 82.22 L/hab consommés

In [80]:
# récupérer le pays "vainqueur" et sa consommation pour chaque année
for ann in np.unique(data[:,0]):
    max_ann = 0
    pays_ann = ''

    for pays in conso:
        if conso[pays][ann] > max_ann:
            pays_ann = pays
            max_ann = conso[pays][ann]

    print(ann, pays_ann, max_ann)

1984 Portugal 17.5
1985 Hungary 16.740000000000002
1986 Slovenia 18.13
1987 Slovenia 16.64
1989 Hungary 16.29